:root {
  --color: #3c3163;
  --transition-time: 0.5s;
  --text: #0a1c10;
  --bg: #f1fbf4;
  --prime: #33d864;
  --second: #77ee9b;
  --glow: #43f378;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--second);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition:  all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}



/* NAVBAR */

@media (min-width: 920px) {

  .header-section {
    display: flex;
    background-color: var(--bg);
    padding: 15px 50px;
    border-bottom: 0.001px solid #79807e;
    justify-content: space-between;
  }

 .header-section h1 {
  font-size: 36px;
    font-weight: 580;
    letter-spacing: 5px;
    color: var(--text);
 }

  .navbar a {
    color: var(--text);
    font-size: 16px;
    letter-spacing: 3px;
  }

  .loginbtn {
    border: 2px solid var(--second);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: var(--prime);
  }

  .navbar ul {
    display: flex;
    gap: 40px;
  }

  .navbar ul li {
    margin-top: 20px;
  }

  .navbar ul li::after {
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    top: 0;
    left: 0;
    margin: auto;
    transition: 0.5s;
    background-color: var(--glow);
  }

  .navbar ul li:nth-child(4)::after {
    background-color: transparent;
  }

  .navbar ul li:hover::after {
    width: 100%;
  }

   .navbar .fa-xmark {
  display: none;
  color: white;
  font-size: 24px;
  padding-top: 4px;
  padding-left: 4px;
  margin: auto;
  transition: .4s;
} 

.header-section .fa-bars {
  display: none;
}
}

@media (max-width: 920px) {

  .header-section {
    display: flex;
    background-color: var(--bg);
    padding: 15px 50px;
    border-bottom: 0.001px solid #79807e;
    justify-content: space-between;
  }

 .header-section h1 {
  font-size: 36px;
    font-weight: 580;
    letter-spacing: 5px;
    color: var(--text);
 }

 .navbar {
  background-color: var(--glow);
  position: absolute;
  height: 100vh;
  width: 200px;
  top: 0;
  transition: 1s;
  z-index: 5;
  right: -200px;
 }

  .navbar a {
    color: var(--text);
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 400;
  }

  .loginbtn {
    border: 2px solid var(--text);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: var(--bg);
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
  }

  .navbar ul li {
    margin-top: 15px;
    transition: .3s;
  }

  .navbar ul li:hover {
    scale: 1.1;
  }


   .navbar .fa-xmark {
  color: var(--text);
  font-size: 24px;
  padding-top: 4px;
  padding-left: 4px;
  margin: auto;
  cursor: pointer;
  transition: .3s;
  padding: 5px;
} 

.navbar .fa-xmark:hover {
  scale: 1.2;
}

.header-section .fa-bars {
  display: block;
  font-size: 24px;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: .4s;
}

.header-section .fa-bars:hover {
  scale: 1.2;
}
    }

    /* NAVBAR END */


    /* HERO START */

    @media (min-width: 1555px) {
      .hero {
        background-size: cover;
        background-position: center;
        background-color: var(--bg);
        height: 650px;
        display: flex;
        justify-content: center;
        gap: 250px;
      }
      
      .hero-section {
        margin-top: 200px;
        position: relative;
      }
      
      .hero-section h1 {
        color: var(--text);
        font-size: 66px;
        font-weight: 600;
        margin-right: 400px;
        letter-spacing: 4px;
        word-spacing: 5px;
        border-bottom: 1px solid gray;
      }
      
      .hero-section a {
        color: var(--glow);
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 3px;
        margin-top: 10px;
      }
      
      .fa-arrow-right {
        font-size: 22px;
        margin-left: 15px;
      }  
      .blocky {
        background-color: #0a1c10;
        position: absolute;
        right: -60px;
        height: 150px;
        width: 500px;
        border-radius: 20px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #77ee9b;
        font-size: 34px;
        letter-spacing: 15px;
        font-weight: 300;
      }
      
      .blocky1 {
        background-color: #33d864;
        position: absolute;
        right: -60px;
        top: 40px;
        height: 150px;
        width: 550px;
        border-radius: 50px;
        z-index: 2;
      }
      
      .blocky3 {
        background-color: #77ee9b;
        position: absolute;
        right: -60px;
        height: 150px;
        width: 550px;
        border-radius: 60px;
        z-index: 1;
      }
      .tab-text {
        display: none;
      }
      .tablet2 {
        display: none;
      }
      .mobile-text {
        display: none;
      }
    }


    @media (max-width: 1555px) {
      .hero {
        background-size: cover;
        background-position: center;
        background-color: var(--bg);
       min-height: 550px;
        display: flex;
        justify-content: center;
        gap: 150px;
      }
      
      .hero-section {
        margin-top: 200px;
        position: relative;
      }
      
      .hero-section h1 {
        color: var(--text);
        font-size: clamp(45px, 8vh, 100px);
        font-weight: 600;
        margin-right: 400px;
        letter-spacing: 4px;
        word-spacing: 5px;
        border-bottom: 1px solid gray;
      }
      
      .hero-section a {
        color: var(--glow);
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 3px;
        margin-top: 10px;
      }
      
      .fa-arrow-right {
        font-size: 22px;
        margin-left: 15px;
      }  
      .blocky {
        background-color: #0a1c10;
        position: absolute;
        right: -60px;
        height: 150px;
        width: 500px;
        border-radius: 20px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #77ee9b;
        font-size: 34px;
        letter-spacing: 15px;
        font-weight: 300;
      }
      
      .blocky1 {
        background-color: #33d864;
        position: absolute;
        right: -60px;
        top: 40px;
        height: 150px;
        width: 550px;
        border-radius: 50px;
        z-index: 2;
      }
      
      .blocky3 {
        background-color: #77ee9b;
        position: absolute;
        right: -60px;
        height: 150px;
        width: 550px;
        border-radius: 60px;
        z-index: 1;
      }
      .tab-text {
        display: none;
      }
      .tablet2 {
        display: none;
      }
      .mobile-text {
        display: none;
      }
    }


    @media (max-width: 1250px) {
      .hero-section {
        display: none;
      }

      .hero {
      min-height: -10px;
      }
    
      .tab-text {
        display: block;
        margin-top: 150px;       
        font-size: clamp(14px, 2vw, 50px);
        white-space: nowrap; 
        max-width: 100%; 
        overflow: hidden; 
    }


    /* .tab-text img {
      position: absolute;
      width: 500px; 
      object-fit: contain;
      height: 430px;
      bottom: 0px;
      z-index: -2;
    } */
    
      .tab-text h1 {
        color: var(--text);
        font-weight: 600;
        letter-spacing: 4px;
        word-spacing: 5px;
        border-bottom: 1px solid gray;
      }
      
      .tab-text h3 {
        color: var(--glow);
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 3px;
        margin-top: 10px;
      }

      .tab-text #clicky {
        color: var(--text);
        font-size: 18px;
        width: 250px;
        border: 1px solid grey;
        background-color: var(--glow);
        letter-spacing: 6px;
        margin-top: 20px;
        cursor: pointer;
        text-transform: uppercase;
      }

      .tab-text #clicky:hover {
        background-color: var(--prime);
      }
      .mobile-text {
        display: none;
      }
    }

    @media (max-width: 768px) {
      .tab-text {
        display: none;
      }
      .hero {
        min-height: 300px;
      }
      .tablet2 {
        display: block;
        margin-top: 150px;   
        font-size: clamp(12px, 2vw, 50px);
        white-space: nowrap; 
        max-width: 100%; 
        overflow: hidden; 
        text-align: center;
      }
      .tablet2 h1 {
        color: var(--text);
        font-weight: 600;
        letter-spacing: 4px;
        word-spacing: 5px;
      }

      .explore {
        color: var(--text);
        font-size: 18px;
        max-width: 250px;
        width: 210px;
        border: 1px solid grey;
        background-color: var(--glow);
        letter-spacing: 6px;
        margin-top: 20px;
        cursor: pointer;
        text-transform: uppercase;
      }

    .explore:hover {
        background-color: var(--prime);
      }
      .mobile-text {
        display: none;
      }
    }


    @media (max-width: 473px) {
      .tablet2 {
        display: none;
      }

      .mobile-text {
        display: block;
        margin-top: 100px;   
        font-size: clamp(8px, 2vw, 30px);
        max-width: 100%; 
        overflow: hidden; 
        text-align: center;
      }
      .mobile-text h1 {
        color: var(--text);
        font-weight: 600;
        letter-spacing: 2px;
        word-spacing: 5px;
      }

      .mobile-text p {
        color: var(--glow);
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: 10px;
      }
      .explore { 
        font-size: 10px;
        max-width: 250px;
        width: 150px;  
      }
    }
    
    /* HERO END */

/* VIDEO */

.getting-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }
  
  .getting-started-container {
  margin-left: 10px;
  margin-right: 10px;
  }
  
  #myVideo {
    max-width: 100%; 
    height: auto;
    cursor: pointer;
  }
  .getting-started h1 {
    font-size: clamp(30px, 8vw, 100px);
    font-weight: 650;
    letter-spacing: 1px;
    margin-left: 20px 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  
  
  .dreamwall-tutorial {
    background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 119, 238, 155, 0.47 );
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border-radius: 10px;
  border: 1px solid rgba(207, 212, 209, 0.50);
    padding: 25px;
  }
  
  .getting-started video {
    width: 1000px;
    border-radius: 10px;
    block-size: 100%;
  }

  @media (min-width: 1024px) {
    .getting-started h2 {
      color: var(--second);
      margin: 0px 0px 0px 20px;
      font-size: clamp(20px, 8vw, 60px);
      font-weight: 500;
      border-bottom: 2px solid rgba(207, 212, 209, 0.60);
      padding-bottom: 3px;
       margin-bottom: 30px;
       width: 55%;
     
    }
  }
  
  @media (max-width: 1024px) {
    .getting-started h1 {
      text-align: center;
    }
    .getting-started h2 {
      color: var(--second);
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
      font-size: clamp(21px, 5vw, 40px);
    }
  }

  /* VIDEO END */


    /* FEATURE START */

  
      .feature {
        padding-top: 60px;
        padding-bottom: 0px;
        margin-top: 50px;
      }
      
      .feature-section {
        height: 540px;
      }
      
      .feature h2 {
        text-align: center;
        color: var(--text);
        font-size: 45px;
        font-weight: 450;
        letter-spacing: 20px;
        word-spacing: 5px;
        padding: 20px;
        border-radius: 60%;
        margin: auto;
        width: 100%;
      }
      
      .border-bottom {
        border-bottom: 20px solid var(--second);
        width: 300px;
        margin: auto;
        border-radius: 400px;
      }
      
      #slider-img {
        justify-content: center;
        margin-top: 50px;
        border-radius: 10px;
        user-select: none;
        object-fit: cover;
        width: 1000px;
      }
      
      #slider-container {
        justify-content: center;
        display: flex;
        block-size: 100%;
        margin-left: 25px;
        margin-right: 25px;
      }
    
    
      @media (max-width: 473px) {
        .feature h2 {
          text-align: center;
          color: var(--text);
          font-size: 45px;
          font-weight: 450;
          letter-spacing: 10px;
          padding: 20px;
          border-radius: 60%;
          margin: auto;
          width: 100%;
        }

      }


/* FEATURE END */


.about-page {
  margin-top: 70px;
 } 



@media (min-width: 1150px) {
  .about-cards {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px 10px 0px 0px;
     height: 95vh;
     color: white;
     display: flex;
     justify-content: center;
     position: sticky;
     top: 70px;
   }
    .about-page {
    margin-top: 70px;
   } 
   .about-section {
    display: flex;
    flex-direction: column;
    background-color: #33d864;
    width: 100%;
    height: 95vh;
   }
   .our-misson {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0px 10px 0px 0px;
    background-position: bottom;
    object-position: left;
  }
}

@media (max-width: 1150px) {
 
  .about-cards {
    height: 95vh;
    color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
  }
  .about-cards:nth-child(1) {
    height: 120vh;
    top: -100px;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    background-color: #33d864;
    width: 100%;
    height: 120vh;
   }
   .our-misson {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    border-radius: 0px 10px 0px 0px;
    background-position: bottom;
    object-position: left;
  }
}

.about-flex-container {
 display: flex;
 justify-content: center;
 color: #fff;
 position: relative;
 overflow: hidden;
 width: 100%;
}

.about-cards:nth-child(4) {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(33,34,33,1) 100%);
}

.about-cards:nth-child(2) {
  height: 30vh;
}

/* .about-cards::-webkit-scrollbar-thumb {
  background-color: var(--second); 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.20); 
}

.about-cards::-webkit-scrollbar-track {
  background-color: var(--bg); 
}

.about-cards::-webkit-scrollbar {
  scrollbar-width: thin;
} */

.about-section h1 {
  font-size: clamp(40px, 6vw, 70px);
  font-weight: 660;
  letter-spacing: 1px;
  white-space: nowrap;  
}

.about-section p {
  font-size: 17px;
  letter-spacing: 2px;
}

.about-section:nth-child(1) {
  border-radius: 10px 0px 0px 0px;
  padding: 50px;
}

.about-section:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
}



@media (max-width: 1430px) {
  .about-cards:nth-child(3) { 
    height: 2300px;
  }
  .what-we-offer {
    display: flex;
   flex-direction: column;
   align-items: center;
  }
  .what-we-offer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba( 30, 31, 30, 0.1 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
    width: 100%;
  
  }
  .what-we-offer-section {
    width: 400px; 
    height: 350px;
    overflow: hidden; 
    position: relative;
    margin-top: 40px;
  }
}



@media (min-width: 1430px) {

  .about-cards:nth-child(3){
    height: 95vh;
  }

  .what-we-offer {
    display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 30px;
  }
  
  
  .what-we-offer-container {
    text-align: center;
    background-color: var(--text);
    width: 100%;
    height: auto;
  }

}



.what-we-offer-container h1 {
  font-size: clamp(30px, 6vw, 70px);
  white-space: nowrap;  
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 20px;
}

#offer-text {
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.img-text {
 font-size: 15px;
 letter-spacing: 2px;
 margin-left: 10px;
 margin-right: 10px
}
.what-we-offer-section {
  width: 400px; 
  height: 350px;
  overflow: hidden; 
  position: relative;
  flex: 1;
}

.what-we-offer-section img {
width: 100%;
height: 100%;
object-fit: cover;
transition: 0.5s;
cursor: pointer;
border-radius: 3px;
box-shadow: 2px 2px 3px black;
}

.card-gallery-img {
  object-position: right;
}

.what-we-offer-section img:hover {
  scale: 1.2;
}

.text-offer p {
  width: 400px; 
  margin-top: 15px;
  letter-spacing: 2px;
}



.join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.join-container h1 {
  font-size: clamp(45px, 6vw, 100px);
  font-weight: 600;
}

.join-container p {
width: 60%;
text-align: center;
font-size: clamp(14px, 2vw, 18px);
}

.join-container h5 {
  border: 1px solid grey;
  padding: 0px 10px 0px 10px;
  margin-top: 30px;
  font-size: clamp(27px, 2vw, 35px);
  font-weight: 300;
  border-radius: 10px;
  user-select: none;
  transition: .3s;
  cursor: pointer;

}
.join-container h5:hover {
  background-color: white;
  border: 1px solid black;
  font-weight: 550;
  color: black;
}
.join-section {
  position: absolute;
  right: 50px;
  scale: 2;
  text-align: center;
}
.join-sub-section {
  padding: 3px 5px 3px 5px;
  text-align: center;
  transition: .4s;
}

.join-sub-section:hover {
  background-color: white;
  color: black;
  border-radius: 50%;
}

@media (max-width: 775px) {
  .about-cards {
    position: static;
    border-radius: 0px;
  }
  .about-section  {
height: 1200px;
  }
  .our-misson {
    height: 1200px;
  }
  .about-cards:nth-child(2) {
   margin-top: 250px;
   background-color: var(--text);
  } 
  .about-cards:nth-child(3) {
    background-color: var(--text);
    height: 1700px;
  }
  .about-cards:nth-child(2) {
    height: 40vh;
  }
  .join-section {
    display: flex;
    bottom: 20px;
    right: 110px;
    gap: 10px;
  }
  .join-container p {
    width: 90%;
  }


}

@media (max-width: 485px) {
  .what-we-offer-section img {
    padding-left: 20px;
    padding-right: 20px;
   }
   .text-offer p {
    width: 95%;
    margin: auto;
    margin-top: 10px;
  }
  .our-misson {
    display: none;
    visibility: 0;
  }
  .footer-section .fa-brands {
    display: none;
  }
}

@media (max-width: 425px) {
  .what-we-offer-section img {
    padding-left: 40px;
    padding-right: 40px;
   }
   .text-offer p {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
 
}
@media (max-width: 375px) {
  .what-we-offer-section img {
    padding-left: 80px;
    padding-right: 80px;
   }
   .text-offer p {
    width: 75%;
    margin: auto;
    margin-top: 10px;
  }
}

/* ABOUT START */

/* .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  height: 400px;
  text-align: center;
}

.about-section h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
  font-size: 45px;
  font-weight: 450;
  letter-spacing: 20px;
  word-spacing: 5px;
  border-radius: 60%;
  margin: auto;
}



.about-section p {
  text-align: center;
  color: var(--text);
  padding: 15px;
  font-weight: 450;
  letter-spacing: 4px;
  border-radius: 60%;
  margin: auto;
  max-width: 100%;
  inline-size: 1076px;
}


@media (max-width: 473px) {
  .about-section p{
    letter-spacing: 2px;
  }
} */

/* ABOUT END */




/* CARD START */
/* 
.card-container h2 {
  text-align: center;
  color: var(--text);
  font-size: 45px;
  font-weight: 450;
  letter-spacing: 20px;
  word-spacing: 5px;
  padding: 20px;
 margin-top: 40px; 

}

.card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 30px;
  margin-top: 50px;
}

.cards:nth-child(1) {
  background-image: url(/Images/1.jpg);
}

.cards:nth-child(2) {
  background-image: url(/Images/2.png);
}

.cards:nth-child(3) {
  background-image: url(/Images/3.jpg);
}

.cards {
  background: linear-gradient(
    317deg,
    rgba(51, 216, 100, 1) 0%,
    rgba(67, 243, 120, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid grey;
  max-width: 450px;
  min-height: 390px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.card-text {
  margin-top: auto;
  text-align: left;
  padding: 20px;
  background-color: var(--bg);
}

.card-text h1 {
  font-weight: 520;
  letter-spacing: 4px;
  font-size: 31px;
  text-align: center;
  color: var(--text);
}

.card-text p {
  font-weight: 460;
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  color: var(--text);
}

.tags {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--prime);
  color: var(--bg);
  border-radius: 8px;
  padding: 0px 14px 0px 14px;
}

@media (max-width: 1432px) {
  .about {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media (max-width: 950px) {
  .about {
    margin-top: 50px;
    margin-bottom: 100px;
  }
} */

/* CARD END */


/* CONTACT START */

.contact {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: 100%;
  background-color: var(--bg);
  padding-top: 70px;
}


.contact-section-page {
  padding-bottom: 100px;
  padding-top: 100px;
}

.contact h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
  font-size: 45px;
  font-weight: 450;
  letter-spacing: 20px;
  word-spacing: 5px;
  border-radius: 60%;
  margin-top: 140px;
  margin-right: 190px;
}

.contact-section {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 400px;
  position: relative;
  padding-bottom: 100px;
}

.contact-section #name,
#email {
  background-color: var(--bg);
  color: var(--text);
  width: 400px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 6px;
  outline: none;
  padding: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
}

#message {
  width: 400px;
  margin-top: 20px;
  letter-spacing: 2px;
  background-color: var(--bg);
  height: 200px;
  color: var(--text);
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
}

#submit {
  background-color: var(--glow);
  color: var(--text);
  font-size: 18px;
  font-weight: 470;
  letter-spacing: 12px;
  text-transform: uppercase;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 8px 130px 8px 130px;
  transition: 0.4s;
  cursor: pointer;
  margin-top: 10px;
}

#submit:hover {
  background-color: var(--prime);
}


@media (max-width: 1433px) {
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    max-width: 100%;
    background-color: var(--bg);
    padding-top: 100px;
  }
  
.contact h1 {
  margin-right: 80px;
}
}


@media (max-width: 950px) {
  .contact {
    margin-top: 10px;
  }
}

@media (max-width: 946px) {
  .contact {
    flex-direction: column;
    
  }
  .contact-section {
    margin: auto;
  }
  .contact h1 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 473px) {
  .contact h1 {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
  }
}

/* CONTACT END */

/* Footer Start  */

.footer {
  display: flex;
  padding: 50px;
  background-color: var(--prime);
  min-height: 35vh;
  max-width: 100%;
  justify-content: left;
  padding-top: 50px;
  position: relative;
}

.footer-section a {
  font-size: 17px;
  margin-top: 20px;
}

.footer-section {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.footer-subsection h6 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  color: #243329;
}

.footer-subsection h6:hover {
  color: var(--text);
}



.footer-section .fa-brands {
  color: #243329;
  font-size: 92px;
  margin-top: 25px;
  font-size: 28px;
  user-select: none;
  transition: 0.3s;
}

.footer-section .fa-square-github {
  position: absolute;
  right: 30px;
  top: 130px;
  scale: 0.80 ;
}

.footer-section .fa-linkedin {
  position: absolute;
  right: 30px;
  top: 50px;
  scale: 0.82 ;
}

.footer-section .fa-discord {
  position: absolute;
  right: 25px;
  top: 90px;
  scale: 0.69 ;
}

.footer-section .fa-brands:hover {
  scale: 1;
  color: var(--text);
}



.footer-subsection a {
  user-select: none;
}

.footer-subsection {
display: flex;
flex-direction: column;
}


@media (min-width: 473px) {
.footer-subsection {
  display: flex;
  flex-direction: column;
}

}


.contact {
  margin-top: 1px;
}

/* Footer End */



